/*Guessing game 2022 - Yumicode_*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* font-style */
    font-family: sans-serif;
    background-color: rgb(67, 136, 226);
}

.container {
    /* display */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 85%;
    /**/
    position: relative;
    top: 20vh;
    /* box model */
    margin: 0 auto;

}

.title {
    /* font-style */
    font-size: 5em;
    color: aqua;
    /* box-model */
    margin-bottom: 1em;
}

p {
    /* font-style */
    font-size: 2em;
    /* box-model */
    margin-bottom: 1em;
}

p span {
    /* font-style */
    text-transform: uppercase;
    font-weight: bold;
}